.sectionIntroducao {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    opacity: 0;
    animation: fadeInAnimation ease 2s;
    animation-fill-mode: forwards;
    /* margin: 100px 0px 150px 0px; */
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#up {
    color: #fff;
    font-size: 35px;
    position: fixed;
    right: 30px;
    bottom: 35px;
    cursor: pointer;
    background-color: #1e242c9c;
    padding: 10px 20px;
    border-radius: 50%;
    border: none;
    outline: none;
    z-index: 1000;
}

.sectionIntroducao h1 {
    font-size: 4.5em;
    color: #fff;
    margin: 0;
}

.sectionIntroducao h2 {
    font-size: 2.5em;
    color: #fff;
    margin: 15px 0px;
}

.sectionIntroducao strong {
    font-family: "Mea Culpa", sans-serif;
    font-weight: 500;
    margin-right: 5.7px;
    font-size: 80px;
}

.colorido {
    font-size: 2.7em;
    line-height: 2em;
    margin: 0px;
    text-align: center;
    color: #8dcffb;
}

.links div {
    margin-top: 100px;
    color: transparent;
}

.links .icon {
    transition: ease 0.3s;
    font-size: 61px;
}

.links p {
    margin-top: -5px;
    font-size: 15px;
    transition: ease 0.3s;
}

.links a {
    color: #fff;
    font-size: 55px;
    padding: 6px 22px;
    transition: ease 0.2s;
    justify-content: center;
    align-items: center;
    display: flex;
}

.links a:hover .icon {
    transform: translateY(-10px);
}

.links div:hover p {
    color: #fff;
}
