@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Hind+Siliguri:wght@300;400;500;600;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend:wght@100..900&family=Readex+Pro:wght@160..700&family=Unbounded:wght@200..900&family=Zain:wght@200;300;400;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    background-color: #000000;
}

header {
    display: flex;
    height: 100%;
    width: 100%;
}

.container-header {
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.container-header ul li {
    font-size: 1.1em;
    display: inline-flex;
}

.container-header ul li a {
    color: #fff;
    text-decoration: none;
    margin: 20px;
}

.section-descricao {
    /* background-image: url(../img/background.png); */
    background-color: #000000;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
    margin: 0;
    top: 0;
    /* background-color: #1c1b1e; */
    text-align: center;
}

h1 {
    font-size: 3em;
    color: #fff;
    margin: 15px 0px;
}

article {
    font-size: 24px;
    line-height: 170%;
    color: #fff;
    padding: 0px 180px;
}

strong {
    font-size: 26px;
    color: #e45ed4;
}

#nome {
    font-size: 4.5em;
    color: #fff;
    margin: 0;
}

.destaque {
    font-size: 3.2em;
    background-image: -webkit-linear-gradient(0deg, #27ddfd 6%, #e45ed4 73%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.section-sobre {
    height: auto;
    background-color: #000000;
    box-shadow: 0px -34px 40px 39px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px -34px 40px 39px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px -34px 40px 39px rgba(0, 0, 0, 1);
}

.section-sobre .destaque {
    font-size: 2em;
    line-height: 2em;
    margin: 0px;
}