@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Mea+Culpa&family=Monsieur+La+Doulaise&family=Hind+Siliguri:wght@300;400;500;600;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend:wght@100..900&family=Readex+Pro:wght@160..700&family=Unbounded:wght@200..900&family=Imperial+Script&family=Zain:wght@200;300;400;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    background-color: #010005;
    background: rgb(16, 23, 28);
    background: radial-gradient(circle, rgba(16, 23, 28, 1) 0%, rgba(5, 8, 10, 1) 100%);
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    height: 100vh;
}

header {
    display: flex;
    height: 60px;
    width: 100%;
}


/* --------------------------------------- */


.section-header {
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.section-header ul li {
    font-size: 1.08em;
    display: inline-flex;
}

.section-header ul li a {
    color: #fff;
    text-decoration: none;
    margin: 20px;
    transition: 0.1s;
}

.section-header ul li a:hover {
    color: #8dcffb;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* --------------------------------------- */


.section-introducao {
    /* background-image: url(../img/background-laptop.png); */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    text-align: center;
    opacity: 0;
    animation: fadeInAnimation ease 2s;
    animation-fill-mode: forwards;
    margin: 100px 0px 150px 0px;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#up {
    color: #fff;
    font-size: 35px;
    position: fixed;
    right: 30px;
    bottom: 35px;
    cursor: pointer;
    background-color: #1e242c9c;
    padding: 10px 20px;
    border-radius: 50%;
    border: none;
    outline: none;
    z-index: 1000;
}

.section-introducao h1 {
    font-size: 4.5em;
    color: #fff;
    margin: 0;
}

.section-introducao h2 {
    font-size: 2.5em;
    color: #fff;
    margin: 15px 0px;
}

.section-introducao strong {
    font-family: "Mea Culpa", sans-serif;
    font-weight: 500;
    margin-right: 5.7px;
    font-size: 80px;
}

.links div {
    margin-top: 100px;
    color: transparent;
}

.links i {
    transition: ease 0.3s;
    font-size: 60px;
}

.links p {
    margin-top: -5px;
    font-size: 15px;
    transition: ease 0.3s;
}

.links a {
    color: #fff;
    font-size: 55px;
    padding: 0px 25px;
    transition: ease 0.2s;
}

.links a:hover i {
    transform: translateY(-10px);
}


.links div:hover p {
    color: #fff;
}


/* --------------------------------------- */


.section-sobre {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    border-top: solid #21262d 1px;
}

.section-sobre.visible {
    opacity: 1;
    transform: translateX(0);
}

.section-sobre p {
    font-size: 24px;
    line-height: 170%;
    color: #fff;
    max-width: 1000px;
}

.section-sobre strong {
    font-size: 26px;
    color: #8dcffb;
}

.subtitulo {
    font-size: 5em;
    color: #fff;
    text-align: center;
    /* border-top: solid 0.5px #a488e23d; */
}

.subtitulo-fundo {
    font-family: "Imperial Script", sans serif;
    margin-top: 80px;
    font-size: 24vw;
    max-height: 2000px;
    text-align: center;
    font-weight: 100;
    color: transparent;
    user-select: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.070);
    text-wrap: nowrap;
    position: absolute;
    z-index: -1;
}

.section-sobre article {
    font-size: 24px;
    line-height: 170%;
    color: #fff;
    max-width: 1050px;
    text-align: justify;
}

.section-sobre .subtitulo {
    margin-bottom: 30px;
}

.section-sobre {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 130px;
    height: 700px;
}

.colorido {
    font-size: 2.5em;
    line-height: 2em;
    margin: 0px;
    text-align: center;
    color: #8dcffb;
}


/* --------------------------------------- */
/* --------------------------------------- */

.section-tipos {
    height: 460px;
    border: solid #21262d 1px;
}


.section-tipos p {
    font-size: 28px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}

.section-tipos a {
    width: 425px;
    height: 100%;
    border-right: solid #21262d 1px;
    padding: 40px 48px;
    margin: 0;
    text-decoration: none;
    transition: ease 0.4s;
}

.section-tipos div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-tipos h4 {
    font-size: 20px;
    color: transparent;
    margin-bottom: 20px;
    transform: translateY(20px);
    transition: ease 0.4s;
}

.section-tipos a:hover {
    background: #01000544;
}

.section-tipos a:hover h4 {
    color: #fff;
    transform: translateY(0px);
}

/*#tipo-1:hover {
    background-image: url(../img/preview/projeto-1.png); 
    background: rgb(16, 23, 28);
    background: linear-gradient(54deg, rgba(16, 23, 28, 1) 0%, rgba(47, 22, 61, 1) 25%, rgba(26, 28, 80, 1) 40%, rgba(38, 92, 140, 1) 74%, rgba(47, 131, 186, 1) 100%);

}

#tipo-2:hover {
    background-image: url(../img/preview/projeto-2.png);
}

#tipo-3:hover {
    background-image: url(../img/preview/projeto-3.png);
}*/


/* --------------------------------------- */

.section-teste {
    display: flex;
    flex-direction: column;
}

.section-teste h3 {
    font-size: 32px;
    margin-bottom: 8px;
    min-width: 350px;
}

.section-teste p {
    color: #8B949E;
}

.projeto {
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0;
    width: 1250px;
}

.projeto-titulo {
    text-align: center;
}

.section-teste img {
    max-height: 442px;
    width: 650px;
    object-fit: cover;
    object-position: top;
    border-radius: 25px;
}

/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */


.section-projetos {
    margin-top: 50px;
    height: auto;
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    display: flex;
    position: relative;
}

.section-projetos.visible {
    opacity: 1;
    transform: translateX(0);
}

.section-projetos h3 {
    font-size: 2.4em;
    color: white;
    text-align: center;
}

.section-projetos .scroll {
    position: absolute;
    margin-top: -145px;
    margin-right: 1050px;
    z-index: 999;
}

.section-projetos a {
    color: white;
    font-size: 1.5em;
    padding: 10px 25px;
    text-decoration: none;
    border-top-right-radius: 777px;
    border-bottom-right-radius: 777px;
    border-bottom-left-radius: 777px;
    position: absolute;
    margin-top: -100px;
    margin-left: 1000px;
    background: rgba(65, 133, 179, 0.44);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.3px);
    -webkit-backdrop-filter: blur(13.3px);
    border: 1px solid rgba(65, 133, 179, 0.01);
    transition: ease 0.2s;
    animation: moverSozinho 3.5s infinite;
    transition: ease 0.2s;
    text-wrap: nowrap;
    z-index: 999;
}

/* @keyframes moverSozinho {
    0%, 33.33%, 100% {
        transform: translateX(0px);
    }
    66.66% {
        transform: translateX(10px);
    }
} */

.section-projetos a:hover {
    animation-play-state: paused;
    transform: translateX(10px);
}

.section-projetos p {
    color: #fff;
    margin-top: 7px;
    font-size: 22px;
    text-align: center;
}

.div-projeto {
    position: relative;
    margin-bottom: 110px;
    display: flex;
    flex-direction: column;
    /* width: 50%; */
}

.laptop {
    /* width: 1400px; */
    width: 1200px;
    height: auto;
}

.demo-projeto {
    /* width: 1068px; */
    width: 910px;
    height: auto;
    position: absolute;
}


#div-imagem {
    position: absolute;
    top: 0;
    left: 0;
    /* margin-top: 75px;
    margin-left: 160px; */
    margin-top: 65px;
    margin-left: 139px;
    background-color: #686868;
    /* width: 1080px;
    height: 670px; */
    width: 922px;
    height: 575px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #ccc;
    scrollbar-width: thin;
    scrollbar-color: #555555 #bfbfbf;
    /* scrollbar-color: #5f5f5f #bfbfbf; */
}

.carousel {
    position: relative;
    /* width: 300px;
    height: 200px; */
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 1s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 1;
}

.carousel-buttons button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-buttons i {
    font-size: 45px;
}


.section-projetos-mobile {
    display: none;
}

/* --------------------------------------- */


@media screen and (max-width: 1500px) {
    .section-introducao {
        height: 100%;
        /* margin: 100px 0px 150px 0px; */
    }

    .section-introducao h1 {
        font-size: 4em;
        color: #fff;
        margin: 0;
    }

    .section-introducao h2 {
        font-size: 2.2em;
        color: #fff;
        margin: 15px 0px;
    }

    .links a {
        margin-top: 15%;

    }

    .subtitulo {
        font-size: 3.5em;
    }

    .subtitulo-fundo {
        font-size: 300px;
    }

    .section-sobre p {
        font-size: 21px;
        line-height: 170%;
        color: #fff;
    }

    .section-sobre article {
        max-width: 850px;
    }

    .section-projetos h3 {
        font-size: 2em;
        color: white;
        text-align: center;
    }

    .div-projeto {
        position: relative;
        margin-bottom: 110px;
        display: flex;
        flex-direction: column;
        /* width: 50%; */
    }

    .laptop {
        /* width: 1400px; */
        width: 1000px;
        height: auto;
    }

    .demo-projeto {
        /* width: 1068px; */
        width: 780px;
        height: auto;
        position: absolute;
    }

    #div-imagem {
        margin-top: 53px;
        margin-left: 115px;
        width: 770px;
        height: 480px;
    }

    .section-projetos a {
        font-size: 1.3em;
        margin-top: -70px;
        margin-left: 842px;
    }

    .section-projetos .scroll {
        position: absolute;
        margin-top: -145px;
        margin-right: 900px;
        z-index: 999;
    }
}

@media screen and (max-width: 670px) {
    .section-header ul li {
        font-size: 0.7em;
    }

    .section-header ul li a {
        margin: 20px 15px;
    }

    .section-introducao {
        height: 500px;
    }

    .section-introducao h1 {
        font-size: 1.8em;
        color: #fff;
        margin: 0;
    }

    .section-introducao h2 {
        font-size: 1.5em;
        color: #fff;
        margin: 15px 0px;
    }

    .section-sobre {
        height: auto;
    }

    .colorido {
        font-size: 1.5em;
    }

    .section-sobre h3 {
        font-size: 1.5em;
    }

    .section-sobre article {
        max-width: 300px;
    }

    .section-sobre p {
        font-size: 14px;
        line-height: 150%;
        color: #fff;
    }

    strong {
        font-size: 16px;
    }

    .links a {
        font-size: 35px;
        padding: 0px 15px;
        margin-top: 40px;
    }

    .subtitulo {
        font-size: 2em;
    }

    .subtitulo-fundo {
        font-size: 100px;
    }

    .section-projetos {
        display: none;
    }

    .section-projetos-mobile {
        display: flex;
    }

    .carousel-inner-mobile {
        /* display: flex; */
        transition: transform 1s ease;
    }

    .carousel-item {
        min-width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .carousel-buttons {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);
        z-index: 1;
    }

    .carousel-buttons button {
        background-color: transparent;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
    }

    .carousel-buttons i {
        font-size: 45px;
    }

    .section-projetos-mobile {
        display: flex;
    }

    .section-projetos-mobile h3 {
        font-size: 1.8em;
        color: white;
        text-align: center;
    }

    .section-projetos-mobile p {
        color: #fff;
        margin: 3px 0px 12px 0px;
        font-size: 18px;
        text-align: center;
    }

    .phone {
        /* width: 1400px; */
        width: 350px;
        height: auto;
        margin-top: -40px;
        margin-bottom: -85px;
    }

    .demo-projeto {
        width: 259px;
        height: auto;
        position: absolute;
    }

    #div-imagem {
        margin-top: 77px;
        margin-left: 46px;
        width: 259px;
        height: 455px;
        z-index: 1;
        border: 0;
    }


    /*
        .phone {
        width: 300px;
        height: auto;
    }

    .demo-projeto {
        width: 258px;
        height: auto;
        position: absolute;
    }

    #div-imagem {
        margin-top: 45px;
        margin-left: 21px;
        width: 260px;
        height: 530px;
        border-radius: 0 0 30px 30px;
        z-index: -1;
        border: 0;
    } */
}

footer {
    display: flex;
    height: 200px;
    width: 100%;
    background-color: #080c10;
}