.sectionProjetos {
    /* opacity: 0; */
    /* transform: translateX(50px); */
    margin-top: 50px;
    height: auto;
    transition: opacity 1s ease-out, transform 1s ease-out;
    display: flex;
    position: relative;
}

.sectionProjetos.visible {
    opacity: 1;
    transform: translateX(0);
}

.sectionProjetos h3 {
    font-size: 2.4em;
    color: white;
    text-align: center;
}

.sectionProjetos .scroll {
    position: absolute;
    margin-top: -145px;
    margin-right: 1050px;
    z-index: 999;
}

.sectionProjetos a {
    color: white;
    font-size: 1.5em;
    padding: 10px 25px;
    text-decoration: none;
    border-top-right-radius: 777px;
    border-bottom-right-radius: 777px;
    border-bottom-left-radius: 777px;
    position: absolute;
    margin-top: -100px;
    margin-left: 1000px;
    background: rgba(65, 133, 179, 0.44);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.3px);
    -webkit-backdrop-filter: blur(13.3px);
    border: 1px solid rgba(65, 133, 179, 0.01);
    transition: ease 0.2s;
    animation: moverSozinho 2.5s infinite;
    transition: ease 2.2s;
    text-wrap: nowrap;
    z-index: 999;
}

@keyframes moverSozinho {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(10px);
    }

    60% {
        transform: translateX(10px);
    }

    80% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0);
    }
}


.sectionProjetos a:hover {
    transform: translateX(10px);
    animation-play-state: paused;
}

.sectionProjetos p {
    /* color: #fff; */
    color: #8dcffb;
    margin: 8px 0;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.divProjeto {
    position: relative;
    margin-bottom: 110px;
    display: flex;
    flex-direction: column;
    /* width: 50%; */
}

.laptop {
    /* width: 1400px; */
    width: 1200px;
    height: auto;
}

.demoProjeto {
    /* width: 1068px; */
    width: 910px;
    height: auto;
    position: absolute;
}


.divImagem {
    position: absolute;
    top: 0;
    left: 0;
    /* margin-top: 75px;
    margin-left: 160px; */
    margin-top: 65px;
    margin-left: 139px;
    background-color: #686868;
    /* width: 1080px;
    height: 670px; */
    width: 922px;
    height: 575px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #ccc;
    scrollbar-width: thin;
    scrollbar-color: #555555 #bfbfbf;
    /* scrollbar-color: #5f5f5f #bfbfbf; */
}

.carousel {
    position: relative;
    /* width: 300px;
    height: 200px; */
    overflow: hidden;
}

.carouselInner {
    display: flex;
    transition: transform 1s ease;
}

.carouselItem {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carouselButtons {
    position: absolute;
    top: 50%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 1;
}

.carouselButtons button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carouselButtons svg {
    font-size: 45px;
}

.subtitulo {
    font-size: 5em;
    color: #fff;
    text-align: center;
    /* border-top: solid 0.5px #a488e23d; */
}

/* .sectionTipos {
    margin-top: 25px;
    height: 460px;
    display: flex;
    justify-content: center;
}


.sectionTipos p {
    font-size: 36px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
    margin: 40px 48px;
    ;
}

.sectionTipos a {
    width: 425px;
    height: 95%;
    border: solid #21262d 1px;
    border-radius: 15px;
    margin: 0;
    margin: 0 20px;
    text-decoration: none;
    transition: ease 0.4s;
}

.sectionTipos div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px 0;
}

.sectionTipos h4 {
    font-size: 28px;
    color: transparent;
    margin-bottom: 20px;
    transform: translateY(20px);
    transition: ease 0.4s;
    margin: 40px 48px;
}

.sectionTipos a:hover {
    background: #01000544;
    transform: scale(1.01);
    filter: grayscale(0%);
}

.sectionTipos a:hover h4 {
    color: #fff;
    transform: translateY(0px);
}

.subtitulo {
    font-size: 5em;
    color: #fff;
    text-align: center;
} */

@media (max-width: 1300px) {
    .divProjeto {
        position: relative;
        margin-bottom: 110px;
        display: flex;
        flex-direction: column;
        /* width: 50%; */
    }

    .laptop {
        /* width: 1400px; */
        width: 1000px;
        height: auto;
    }

    .demoProjeto {
        /* width: 1068px; */
        width: 758px;
        height: auto;
        position: absolute;
    }


    .divImagem {
        position: absolute;
        top: 0;
        left: 0;
        /* margin-top: 75px;
    margin-left: 160px; */
        margin-top: 54px;
        margin-left: 115px;
        background-color: #686868;
        /* width: 1080px;
    height: 670px; */
        width: 769px;
        height: 478px;
    }

    .sectionProjetos a {
        margin-top: -170px;
        margin-left: 830px;
        font-size: 1.2rem;
    }
}