.icone {
    color: #fff;
    font-size: 80px;
    background-color: #ffffff0c;
    border: solid 1px #ffffff13;
    padding: 12px;
    border-radius: 15%;
}

.tecnologias {
    margin-top: 50px;
}

.tecnologias svg { 
    margin: 8px;
}