.sectionSobre {
    /* opacity: 0; */
    /* transform: translateX(-50px); */
    display: flex;
    flex-direction: column;
    margin-bottom: 130px;
    height: 700px;
    transition: opacity 1s ease-out, transform 1s ease-out;
    border-top: solid #21262d 1px;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.sectionSobre.visible {
    opacity: 1;
    transform: translateX(0);
}

.sectionSobre p {
    font-size: 24px;
    line-height: 170%;
    color: #fff;
    max-width: 1000px;
}

.sectionSobre strong {
    font-size: 26px;
    color: #8dcffb;
}

.subtitulo {
    font-size: 5em;
    color: #fff;
    text-align: center;
    /* border-top: solid 0.5px #a488e23d; */
}

.subtituloFundo {
    font-family: "Imperial Script", sans serif;
    margin-top: 80px;
    font-size: 24vw;
    max-height: 2000px;
    text-align: center;
    font-weight: 100;
    color: transparent;
    user-select: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.070);
    text-wrap: nowrap;
    position: absolute;
    z-index: -1;
}

.sectionSobre article {
    font-size: 24px;
    line-height: 170%;
    color: #fff;
    max-width: 1050px;
    text-align: justify;
}

.sectionSobre .subtitulo {
    margin-bottom: 30px;
}