@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Mea+Culpa&family=Monsieur+La+Doulaise&family=Hind+Siliguri:wght@300;400;500;600;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend:wght@100..900&amily=Lexend:wght@100..900&family=Readex+Pro:wght@160..700&family=Changa+One:ital@0;1&family=Jacquard+24&family=Jersey+10&family=Lavishly+Yours&family=Mea+Culpa&family=Rye&family=UnifrakturMagunti&family=Unbounded:wght@200..900&family=Imperial+Script&family=Zain:wght@200;300;400;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: rgb(16, 23, 28) !important;
    color: #fff;
    overscroll-behavior-y: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    background: radial-gradient(circle, rgba(16, 23, 28, 1) 0%, rgba(5, 8, 10, 1) 100%);
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    height: 100vh;
}

div {
    box-sizing: border-box;
}